.card {
  text-align: center;
  margin-bottom: 2rem;
  @apply border-2 p-3 flex flex-col items-center;
}

.card-header {
  padding: 0;
  position: relative;
  height: 70%;
}

.card-img {
  width: 300px;
  height: 300px;
}

.card h3 {
  margin: 0.5rem 0;
  @apply mt-3 text-xl;
}

.card p {
  margin: 0;
  @apply mt-3 text-xl;
}

.btn {
  @apply text-center bg-red-500 w-32 mt-4 text-white p-2 rounded text-lg hover:bg-red-400;
}
